{{ define "main" }}

<style> .main { padding:0px !important; }</style>

  <div class="container">
    <div class="product-images-full">
      <img src="/img/rings/1.webp" alt="Product Image 1" class="active">
      <img src="/img/rings/11.webp" alt="Product Image 2">
      <img src="/img/rings/5.webp" alt="Product Image 3">
      <img src="/img/rings/9.webp" alt="Product Image 4">
      <img src="/img/rings/3.webp" alt="Product Image 5">
    </div>    
    <div class="product-info">
      <h1 class="product-title">Ceramic RFID Key Rings: Open doors to a more convenient lifestyle. 
      </h1>
      <p class="product-price">$39.99</p>
      <a href="https://buy.stripe.com/4gw5no5MVg4c2WY5kl" class="btn btn-primary">Buy Now</a>
      <div class="product-description">
        <h2>Unlock Your World with Ceramic RFID Key Rings.</h2>
        <p>Experience convenience like you’ve never seen before, open doors to your gym, swimming club, lockers, office or gate with a wave of your hand. 
        </p>
        <ul>
          <li><strong>Simplify Your Life:</strong>Cut your keychain clutter and never waste time hunting for your RFID door key again. Swap out your bulky key fobs or easily lost access cards for a ceramic RFID key ring and open doors in style. </li>
          <li><strong>Simple, Stylish and Sustainable:</strong>These RFID keys are made from a simplistic epoxy coated ceramic and look like a stylish piece of Jewellery. People will think you’ve got super powers opening your door with a wave of your hand and will think you’re wearing a key on your finger.</li>
          <li><strong>Versatile Access:</strong>These RFID key rings work on any access control system that utilises MiFare RFID technology, the most secure and common RFID technology on the market. Use it on lockers, gates, doors for your gym, office, pool, sauna or any other.</li>
        </ul>
        <h2>Specifications & Compatability</h2>
        <p>These rings operate at 13.56MHz and use Mifare RFID technology.</p>
        <p>These rings work on any Mifare RFID reader, but it often requires the RFID key being logged into the system for the access provider. Please sure to check with your provider to ensure they allow alternative keys before purchasing as we don’t guarantee they will allow you to assign third party keys into their system.</p>
        <a href="https://buy.stripe.com/4gw5no5MVg4c2WY5kl" class="btn btn-primary">Buy Now</a>

          <h2>What Our Customers Are Saying:</h2>
          <div class="review">
            <blockquote>"Since I started using my Ecofobs ceramic RFID finger ring, I never have to worry about forgetting my gym key again. People always do a double take when I open the door with a karate chop instead of grabbing my card out my wallet” - Jenna H., Gym Member</blockquote>
          </div>
          <div class="review">
            <blockquote>“As a swimmer, it’s always been a pain keeping my RFID key fob close by to keep my belongings safe in the locker. This ring has been a game changer, I never lose it, and I’m never left hunting for it when I’m cold and dripping with water.” - Mark S., Avid Swimmer</blockquote>
          </div>

          <div>
            <h2>What are you waiting for?</h2>
            <p>Make the switch to a more convenient, streamlined lifestyle and save your mental space for more important things than door access.</p>
            <a href="https://buy.stripe.com/4gw5no5MVg4c2WY5kl" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
        
      </div>
    </div>
    <div style="padding:10px 20px;">
    <h2>Bulk Order Pricing:</h2>
    <p>Looking to purchase in bulk for your gym, swim club, office or other business application? Get in touch today and learn about our special high volume deals. </p>
    <a href="/contact" class="btn btn-secondary" style="margin-bottom:20px;">Contact Us</a>

    </div>
    <script>
        const images = document.querySelectorAll('.product-images img');
        const activeImage = document.querySelector('.product-images img.active');
        
        images.forEach(image => {
          image.addEventListener('click', () => {
            activeImage.classList.remove('active');
            activeImage = image;
            activeImage.classList.add('active');
            const imageUrl = activeImage.getAttribute('src');
            const productImage = document.querySelector('.product-images-full img');
            productImage.setAttribute('src', imageUrl);
          });
        });

      </script> 
   
      
{{ end }}
