{{ define "main" }}

<style> .main { padding:0px !important; }</style>

  <div class="container">
    <div class="product-images-full">  
      <img src="/img/rings/1.webp" alt="Product Image 1" class="active">
      <img src="/video/ring-demo-square.gif" alt="Product Gif" load="lazy">
      <img src="/img/rings/11.webp" alt="Product Image 2" load="lazy">
      <img src="/img/rings/5.webp" alt="Product Image 3" load="lazy">
      <img src="/img/rings/9.webp" alt="Product Image 4" load="lazy">
      <img src="/img/rings/3.webp" alt="Product Image 5" load="lazy">
    </div>    
    <div class="product-info">
      <h1 class="product-title">Ceramic RFID Key Rings: Open doors to a more convenient lifestyle. </h1>
      <p>Experience convenience like you’ve never seen before, open doors to your gym, swimming club, lockers, office or gate with a wave of your hand.</p>
      
      <p class="product-price">$39.99</p>
      <ul class="no-decoration">
        <li> Free shipping</li>
        <li> Fast delivery</li>
        <li> 30 day money back guarantee</li>
        </ul>
<!-- Add radio buttons for size options -->
<div>
  Select Size:<br>
  <input type="radio" id="size17mm" name="size-options" value="17mm" checked>
  <label for="size17mm">17mm</label>
  <input type="radio" id="size18mm" name="size-options" value="18mm">
  <label for="size18mm">18mm</label>
  <input type="radio" id="size19mm" name="size-options" value="19mm">
  <label for="size19mm">19mm</label>
  <input type="radio" id="size20mm" name="size-options" value="20mm">
  <label for="size20mm">20mm</label>
  <input type="radio" id="size21mm" name="size-options" value="21mm">
  <label for="size21mm">21mm</label>
  <input type="radio" id="size22mm" name="size-options" value="22mm">
  <label for="size22mm">22mm</label>
</div>

<!-- Add "Order Now" section with dynamic link -->
<div>
  <a id="order-now" href="https://buy.stripe.com/aEU4jkdfndW47de3cl" style="margin:20px auto 50px;" class="btn btn-primary">Order Now</a>
</div>


      <div class="product-description">
      <h2>Unlock Your World with Ceramic RFID Key Rings.</h2>
      <img class="mobile-only" src="/video/ring-demo-square.gif" alt="Product Gif" load="lazy">

        <ul>
          <li><strong>Simplify Your Life: </strong>Cut your keychain clutter and never waste time hunting for your RFID door key again. Swap out your bulky key fobs or easily lost access cards for a ceramic RFID key ring and open doors in style. </li>
          <li><strong>Simple, Stylish and Sustainable: </strong>These RFID keys are made from a simplistic epoxy coated ceramic and look like a stylish piece of Jewellery. People will think you’ve got super powers opening your door with a wave of your hand and will think you’re wearing a key on your finger.</li>
          <li><strong>Versatile Access: </strong>These RFID key rings work on any access control system that utilises MiFare RFID technology, the most secure and common RFID technology on the market. Use it on lockers, gates, doors for your gym, office, pool, sauna or any other.</li>
        </ul>

        <div>
            <h2>What are you waiting for?</h2>
            <p>Make the switch to a more convenient, streamlined lifestyle and save your mental space for more important things than door access.</p>
          </div>

        <h2>What Our Customers Are Saying:</h2>
          <div class="review">
            <blockquote>"Since I started using my Ecofobs ceramic RFID finger ring, I never have to worry about forgetting my gym key again. People always do a double take when I open the door with a karate chop instead of grabbing my card out my wallet” <br>- Jenna H., Gym Member</blockquote>
          </div>
          <div class="review">
            <blockquote>“As a swimmer, it’s always been a pain keeping my RFID key fob close by to keep my belongings safe in the locker. This ring has been a game changer, I never lose it, and I’m never left hunting for it when I’m cold and dripping with water.” <br>- Mark S., Avid Swimmer</blockquote>
          </div>
        
        <h2>Specifications & Compatibility</h2>
        <p>These rings operate at 13.56MHz and use Mifare RFID technology.</p>
        <p>These rings work on any Mifare RFID reader, but it often requires the RFID key being logged into the system for the access provider. Please sure to check with your provider to ensure they allow alternative keys before purchasing as we don’t guarantee they will allow you to assign third party keys into their system.</p>
        
        <h2>Bulk Order Pricing:</h2>
    <p>Looking to purchase in bulk for your gym, swim club, office or other business application? <strong><a href="/contact">Get in touch</a></strong> today and learn about our special high volume deals. </p>

  </div>
        
      </div>
    </div>
    <script>
        const images = document.querySelectorAll('.product-images img');
        const activeImage = document.querySelector('.product-images img.active');
        
        images.forEach(image => {
          image.addEventListener('click', () => {
            activeImage.classList.remove('active');
            activeImage = image;
            activeImage.classList.add('active');
            const imageUrl = activeImage.getAttribute('src');
            const productImage = document.querySelector('.product-images-full img');
            productImage.setAttribute('src', imageUrl);
          });
        });

      </script> 


<script>
  // Get radio buttons and "Order Now" link
  const radios = document.querySelectorAll('input[name="size-options"]');
  const orderLink = document.getElementById('order-now');

  // Add event listener to each radio button
  radios.forEach(radio => {
    radio.addEventListener('click', () => {
      // Get selected radio button value
      const selectedSize = document.querySelector('input[name="size-options"]:checked').value;
      
      // Set "Order Now" link based on selected size
      if (selectedSize === '17mm') {
        orderLink.href = 'https://buy.stripe.com/aEU4jkdfndW47de3cl';
      } else if (selectedSize === '18mm') {
        orderLink.href = 'https://buy.stripe.com/14k5nob7faJS5563ck';
      } else if (selectedSize === '19mm') {
        orderLink.href = 'https://buy.stripe.com/aEU7vw0sB05ecxy9AH';
      } else if (selectedSize === '20mm') {
        orderLink.href = 'https://buy.stripe.com/fZe8zA0sB8BK5569AG';
      } else if (selectedSize === '21mm') {
        orderLink.href = 'https://buy.stripe.com/3cs5noa3bg4cdBC4gl';
      } else if (selectedSize === '22mm') {
        orderLink.href = 'https://buy.stripe.com/3cs2bc5MV7xGapq6os';
      }
    });
  });
</script>

   
      
{{ end }}





