{{ define "main" }}
<style> .main { padding:0px !important; }</style>

<div style="background: url(/img/homepage/1.webp); background-repeat: no-repeat;
background-size: cover;" class="banner row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
    <div>
        <h1>Eco Friendly RFID Fobs and Cards</h1>
        <h3 style="color:white;">The key to sustainable gym growth.</h3>
        <p>Get eco-friendly gym keys that become your little employees, working round the clock to build exposure and your fitness business. </p>
        <a class="btn btn-primary" href="pages/rfid-rings/">Get Started</a>
    </div>    
</div>
<div class="container">
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/rings/5.webp" loading="lazy" alt="Ecofobs Ceramic RFID Finger Rings">
        <div class="col gy-5">
          <h3>Unlock Your World with Ecofobs Ceramic RFID Finger Rings</h3>
          <p>Experience the convenience of accessing your gym, office, swimming club, or locker room with a stylish and eco-friendly ceramic RFID finger ring. Our rings are not only practical but also elegantly designed, so you can show off your commitment to the environment without compromising on style.</p>
          <a href="pages/rfid-rings/" class="btn btn-secondary">Learn More</a>
        </div>
      </div>
    
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h3>Order now to join the movement</h3>
            <p>Find your desired EcoFobs style: Wooden RFID Key Fobs, Key Cards or Recycled Plastic Fobs.</p>
        </div>
        <img src="/img/homepage/3.webp" loading="lazy" alt="">
    </div>
    
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/2.webp" alt="">
        <div>
            <h3>Guaranteed to work on all major gym door systems.</h3>
            <p>Limited time offer - order this month for a free digital proof custom designed to your brand, a $200 value.</p>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div>
            <h3>Make your club a part of the solution</h3>
            <p>Every year, the fitness industry contributes tons of carbon into the atmosphere and plastic into landfill, oceans and wherever else, just for the supply of plastic key fobs and cards.</p>    
            <p>At EcoFobs, our mission is to change this and help transform the industry for the better by providing sustainable alternatives for door access.            </p>
            <a href="pages/rfid-rings/" class="btn btn-secondary">Learn More</a>
        </div>
        <img src="/img/homepage/4.webp"  loading="lazy" alt="">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/5.webp" loading="lazy" alt="">
        <div class="col gy-5">
            <h3>Do your bit for the planet with zero compromises for your business</h3>
            <p>We have worked closely with our manufacturers to come up with RFID door access alternatives that are derived from more sustainable materials and processes, while maintaining maximum reliability and durability.            </p>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div>
            <h2>Customer Testimonials</h2>
            <h3>Get the word from happy EcoFobs swipers</h3>
            <p>“EcoFobs are a great opportunity for businesses to provide clients with physical evidence of their sustainable practices, building a sustainable brand image with service touchpoints that last.” <br>Hannah S. 
                Gym Marketing Consultant</p>  
            <a href="pages/rfid-rings/" class="btn btn-secondary">Learn More</a>
            </div>
        <img src="/img/homepage/6.webp" loading="lazy" alt="">
    </div>
</div>
{{ end }}

